{{!-- edit blog post, keeps all the blogpost data but allows editing --}}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="has-text-centered">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" id="blogTitle" value="{{title}}">
        </div>
      </div>
      <div class="field">
        <label class="label">Body</label>
        <div class="control">
          <textarea class="textarea" name="body" id="blogContent">{{body}}</textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" type="submit" id="updateBlogPostbtn">Submit</button>
        </div>
      </div>
      <div id="blogPostId" data-blog-id="{{blogPost.id}}"></div>
    </div>
  </div>
</div>
<script src="/js/editBlogPost.js"></script>