.logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

.footer {
    left: 0;
    width: 100%;
    max-height: 20px;
  }

.hide {
    display: none;
  }

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
  }

#time {
    font-size: 10px;
    color: #999;
  }

  #navBarBanner {
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .navbar-menu{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

#dashboardBlogTitle {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

#dashboardBlogContent{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }

#blog-title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

#username {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }